.back-btn {
  // padding: 1rem;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 0.8rem;
  p {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.1rem;
    font-weight: 600;
    gap: 1rem;
    text-align: center;
    color: #000;

    cursor: pointer;
    span {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

.campaign-form-section {
  width: 600px;
  // height: 700px;
  background-color: #fff;
  padding: 1.5rem;
  border-radius: 1.2rem;
  h3 {
    font-size: 1.1rem;
    margin-bottom: 1rem;
    font-weight: 600;
    color: #000;
  }
  .form-card {
    display: flex;
    justify-content: center;
    align-items: center; 
    gap: 1rem;
  }
  .admission-form {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    width: 90%;
    label {
      margin-bottom: 0.2rem;
      color: #000;
    }

    input {
      padding: 0.7rem 1rem 0.8rem;
      width: 96%;
      border-radius: 0.6rem;
      border: 1px solid rgba(235, 235, 235, 1);
      margin-bottom: 0.7rem;
      font-size: 1rem;
      background-color: #fcfcfc;
      color: rgba(138, 138, 139, 1);
      &::placeholder {
        font-size: 0.9rem;
      }
    }
    select {
      padding: 0.7rem 1rem 0.8rem;
      width: 96%;
      font-size: 0.9rem;
      border-radius: 0.6rem;
      margin-bottom: 0.7rem;
      background-color: #fcfcfc;
      color: rgba(138, 138, 139, 1);
      border: 1px solid rgba(235, 235, 235, 1);
    }
  }
}
.error {
  color: red; /* Error messages in red */
  font-size: 0.8rem;
  // margin-bottom: 1rem;
}

.btn {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 2rem;
  button {
    padding: 0.6rem 1rem;
    border-radius: 0.6rem;
    border: none;
    font-size: 1rem;
    font-weight: 500;
    color: rgba(255, 255, 255, 1);
  }
  .cancel-btn {
    color: #000;
    background: none;
  }
  .camp-btn {
    background-color: blue;
  }
}

.voucher {
  position: relative;
  width: 100%;
  .voucher-input {
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0;
  }
  .voucher-img {
    // background-color: red;
    position: absolute;
    top: 0.9rem;
    right: 2rem;
  }
}

.admission {
  position: relative;
  width: 100%;
  .name {
    border: 1px dotted lightgray;
    height: 8rem;
    &::placeholder {
      text-align: center;
    }
  }

  .admission-input {
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0;
    height: 8rem;
  }
  .admission-img {
    position: absolute;
    top: 20%;
    right: 50%;
  }
}
